
<h2>Categories</h2>
<hr />
<div class="bs-component">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">14</span>
            <a href="#"><b>Cras justo odio</b></a>
        </li>
        <li class="list-group-item">
            <span class="badge">9</span>
            <a href="#"><b>Dapibus ac facilisis in</b></a>
            <ul>
                <li class="list-unstyled">
                    <span class="badge">4</span>
                    <a href="#">Sub cras</a>
                </li>
                <li class="list-unstyled">
                    <span class="badge">5</span>
                    <a href="#">Sub odio</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <span class="badge">1</span>
            <a href="#"><b>Leo risus</b></a>
        </li>
    </ul>
</div>
