<div class="col-lg-4">
    <h1>Categories</h1>
    <ul>
        Category One
        <li>
            Subcategory one
            <ul>Sub Subcategory one
                <li>S S S One</li>
                <li>S S S Two</li>
                <li>S S S Three</li>
            </ul>
        </li>
            
        <li>
            Subcategory two
        </li>
    </ul>
</div>
