    <div class="bg-info">

        <h1>Categories</h1>
        <hr />
        <ul>
            <li>
                Category One
                <ul>
                    <li>Sub Category One</li>
                    <li>Sub Category Two</li>
                    <li>Sub Category Three</li>
                </ul>
            </li>
            <li>
                Category two
            </li>
        </ul>
    </div>
