@model OnlineStore.Web.Models.ViewModels.Base.Products.ProductsIndexViewModel

@{
    ViewBag.Title = "List of products";
    Model.Categories = ViewBag.ProductCategories;
}

<div class="col-md-3">
    <aside>
        @Html.Partial("_Categoriespartial", Model.Categories)
    </aside>
</div>
<div class="col-lg-9">
    <h2>List of products</h2>
    <hr/>
    <div>

        @foreach (var product in Model.Products)
        {
            <div class="col-lg-4">
                <a href="/products/details/@product.Id">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @product.Name
                        </div>
                        <div class="panel-body">
                            <img src="/uploads/products/@(product.Id%1000)/@product.Id/thumbnail1.jpg" alt="@product.Name" width="128" height="128" class="center-block img-rounded">
                        </div>
                        <div class="panel-footer text-center">
                            <strong>$ @product.Price</strong>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div class="clearfix"></div>