@{
    ViewBag.Title = "Contact us:";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>jabalka:</strong>   <a href="mailto:abv@gmail.com">jabalka@example.com</a><br />
    <strong>kiko144:</strong> <a href="mailto:abv@gmail.com">kiko144@example.com</a><br />
    <strong>georgimanov:</strong> <a href="mailto:abv@gmail.com">georgimanov@example.com</a>
</address>