@model OnlineStore.Web.Models.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Online Store";
}

<div class="jumbotron">
    @foreach (var product in Model.NewestProducts)
    {
        @Html.DisplayFor(p => product.Name);
        <br />
        @Html.DisplayFor(p => product.Id);
        <br />
    }
</div>