@model OnlineStore.Web.Models.ViewModels.Base.Home.MostPopularProductsViewModel

<div class="panel panel-primary">
    <header class="panel-heading">
        @Html.DisplayFor(m => m.Name)
    </header>
    <div class="panel-body">
        <img src="../../@Html.DisplayFor(m => m.ImagePath)" alt="@Html.DisplayFor(m => m.Name)" width="240" height="240">
    </div>
    <div class="panel-body text-justify">Ordered: @Html.DisplayFor(m => m.TimesOrdered) times</div>
    <footer class="panel-footer">
        <strong>$@Html.DisplayFor(m => m.Price)</strong>
        <a href="#" class="pull-right">View</a>
    </footer>
</div>